<div class="well well-sm text-center">
<h3>You DOM manipulation</h3>
</div>
<div class="pull-right">
  <%= link_to 'Go To ADD Javascript Functions', javascript_learnings_path ,class: 'btn btn-success'%>
  <%= link_to 'Go To Javascript Demos', javascript_demos_javascript_learnings_path,class: 'btn btn-success'%>
</div>
<div class="javascript-data">
  <div class="js-vr1", id="div1">
  	<h5>Hello I am having Div id = 1</h5>
  </div>
  <div class="js-vr2" id="div2">
  	<h5>Hello I am having Div id = 2</h5>
  </div>
  <div class="js-vr3">
  	<h5>Hello I am having Div id = 3</h5>
    <a href="#" class="hide-para" >Hide all paragraphs </a>
    <p class="para-data" style="color:green">Para is here love u viru</p>
    <button class="btn1">Fade out</button>
<button class="btn2">Fade in</button>
<button class="btn5">Fade oggle</button>
  </div>
  <div class="js-vr4" id="div3" style="" >
  	<h5>Hello I am having Div id = 4</h5>
  </div>

  <div class="operations">
    <button type="button" id="add-class" style="float: left; margin-right:20px;">Add Class1</button>
    <button type="button" id="remove-class" style="float: left; margin-right:20px;"> Remove Class</button>
    <button type="button" id="ajax"> Ajax Requests</button>
  </div>
	
</div>