
<br>
<br>
	<ul class="nav nav-tabs">
  <li role="presentation" class="tabs active" id="tab-1"  data-panel="tab1"><a href="#">Myself(Tab-1)</a></li>
  <li role="presentation" id="tab-2" class="tabs" data-panel="tab2"><a href="#" >Profile(Tab-2)</a></li>
  <li role="presentation" id="tab-3" class="tabs" data-panel="tab3"><a href="#">Education Details(Tab-3)</a></li>
  <li role="presentation" id="tab-4" class="tabs" data-panel="tab4"><a href="#">Sports Details(Tab-4)</a></li>
</ul>

<div class="tab-collection">
<div class="tab active" id="tab1">
	
<h3> HHiiii friends yesterday was the birthday of my favourite batsman .... Thats Virender sehwag ... I have enjoyed it so much ...... Tab-1</h3></div>
<div class="tab" id="tab2"><h3> HHiiii friends yesterday was the birthday of my favourite batsman .... Thats Virender sehwag ... I have enjoyed it so much ...... Tab-2</h3></div>

<div class="tab" id="tab3"><h3> HHiiii friends yesterday was the birthday of my favourite batsman .... Thats Virender sehwag ... I have enjoyed it so much ...... Tab-3</h3></div>

<div class="tab" id="tab4"><h3> HHiiii friends yesterday was the birthday of my favourite batsman .... Thats Virender sehwag ... I have enjoyed it so much ...... Tab-4</h3></div>

</div>




<br>
<br>
<div>
	<a href="https://www.youtube.com/watch?v=hMxGhHNOkCU&list=PLoYCgNOIyGABdI2V8I_SWo22tFpgh2s6_" target="_blank" style="text-decoration: none"> <h3 class="well well-lg text-center" style="margin-top: 30px; color: green;">Tabs</h3></a>
	<div class="buttons text-center">
		<button class="panel-button" data-panel="panel-1">Panel-Btn1</button>
		<button class="panel-button" data-panel="panel-2">Panel-Btn2</button>
		<button class="panel-button" data-panel="panel-3">Panel-Btn3</button>
		<button class="panel-button" data-panel="panel-4">Panel-Btn4</button>
	</div>

	<div class="panel-collection text-center"> <h2 class="text-center oper">Operations of panel buttons</h2>
    <div class="panel" id="panel-1" ><h3 class="panel-name">Panel-1</h3>Hi welcome here ....... I am navnath e,,,,,,,,, u are operating on this tabs   Data of panel-1</div>
    <div class="panel" id="panel-2"><h3 class="panel-name">Panel-2</h3>Hi welcome here ....... I am navnath e,,,,,,,,, u are operating on this tabs   Data of panel-2</div>
    <div class="panel" id="panel-3"><h3 class="panel-name">Panel-3</h3>Hi welcome here ....... I am navnath e,,,,,,,,, u are operating on this tabs   Data of panel-3</div>
    <div class="panel" id="panel-4"><h3 class="panel-name">Panel-4</h3>Hi welcome here ....... I am navnath e,,,,,,,,, u are operating on this tabs   Data of panel-4</div>
	</div>
</div>











<br>



<br>
<br><h3 class="well well-lg text-center" style="margin-top: 30px; color: green;">DropDown</h3>
<div class=" dropdown">
	<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Languages<span class="caret"></span></button>
	<ul class="dropdown-menu">
		<li>RoR</li>
		<li>JavaScript</li>
		<li>Rubby</li>
		<li>Mysql</li>
	</ul>
</div>
