<div class="modal-header">

     <button class="pull-right"  data-dismiss="modal" data-backdrop="true" data-keyboard="true">&times;</button>
  <h3><%= "Editing #{@customer.name}" %></h3>
</div>
<%= render "form" %>