#root-nav{
	height: 30px;
	margin-top: 20px;
  width: 100%;
    
}

#root-nav a{
  font-size: 20px;
  color: mediumblue;
}
#root-nav li{
  padding-left: 28px;
}
.message{
  height:30px;
  width: 80%;
  margin: 10px auto;
  background-color: green;

}
.no-top-margin{
  margin-top: 0px;
  margin-bottom: 0px;
}
.navbar-nav{
  width: 100%;
  background-color: wheat;
  margin-bottom: 15px;
  min-height: 40px;
}
.data{
 width: 95%;
 margin: 20px auto;
}
.dynamic-data{
 width: 98%;
 margin: 62px auto 20px auto;
}
.left{
	background-color: grey;
	float: left !important;
}

.btn-under-well{
margin-top: -21px;
margin-bottom: 1px;
}

.javascript-data{
	width: 98%;
	margin: 60px auto 20px auto;
	min-height: 500px;
}

.js-vr1{
	width: 23%;
	background-color: green;
	height: 150px;
	float: left;
	margin-right: 2.6%;
}
.js-vr2{
	width: 23%;
	background-color: slateblue;
	height: 150px;
	float: left;
	margin-right: 2.6%;
}
.js-vr3{
	width: 23%;
	background-color: grey;
	height: 150px;
	float: left;
	margin-right: 2.6%;
}
.js-vr4{
	width: 23%;
	background-color: MediumSpringGreen ;
	height: 150px;
	float: left;
}
#one{
    border:3px solid #00F;
    width:50%;
}
.operations{
	width: 100%;
	background-color: grey;
	margin-top: 30px;
	float:left;
	padding-top: 20px;
	padding-bottom: 20px;
}

.changed-class{
	background-color: yellow;
}

.table th{
	background-color: grey;
}
#function-table th:nth-child(odd){
	background-color: green;
}

.but{
	height: 40px;
	margin-right: 20px;
}

.form{
	width: 70%;
	margin: auto;
	background-color: grey;
}

.buttons{
	padding-right: 20px;
	height: 60px;
	width: 80%;
	margin: 10px auto;
}

.panel-collection{
	float: left;
	margin: 20px auto 10px auto;
  width: 100%;
  background-color: grey;
}
.oper{
	margin-bottom: 10px;
	background-color: chartreuse;
}
.panel{
  width: 20%;
  margin-right: 30px;
  min-height: 100px;
  float: left;
  background-color: chartreuse;
  text-align: center;
  margin-bottom: 20px;
}

.panel-name{
	background-color: skyblue;
	height: 30px;
	margin-top: 0px;
	padding-bottom: 5px;
}
.tab{
	min-height: 50px;
	background-color: grey;
	margin-top: 0px;
	display: none;
}
.nav{
	margin-bottom: 5px;
}
.tab-collection .tab.active{
	display: block;
}
.nav-tabs li.active{
	background-color: red;
}
.nav-tabs li.active a{
	color: blue !important;
}
.nav-tabs li a {
	color: black;
}

.dropdown ul li.active a{
	background-color: red !important;
	color: blue;
}

.well a{
	text-decoration: none !important;
}
.well{
	padding: 0px;
}

.data{
	width: 90%;
	margin-top: 20px auto 10px auto;
}

.image-div{
	height: 200px;
  width: 200px;
  margin: 50px;
  float: center;
}
.img-div-o{
 width: 300px;
 height: 300px;
 margin: 30px auto 0px auto;
 background-color: grey;
 float: center;
}
.image-bchange-btn.active{
	background-color: green;
	font-size: 18px;
}
.image-bchange-btn.active a{
	color: red;
}
.image-bchange-btn{
  margin-bottom: 30px;
  width: 90px;
  margin-right: 20px;
}
.button-inline-left{
	margin: auto;
	background-color: grey;
	text-align: center;
}
/*.btn-grp{
	margin-right: 20px;
	height: 20px;
}*/


.transition{
	text-align: center;
}

.tras-btn{
  min-width: 100px;
  margin-left: 20px;
  float: left;
  height: 30px;
  padding: auto;
  background-color: grey;
}

.radio-btns .label{
	min-height: 20px;
	float: left;
	width:100%;
	
    color: green;
    font-size:18px;
}

.place-rbtn{
	float: left;
	width: 100%;
}

.place-rbtn input[type="radio"]{
	float: left;
	margin-right: 3px;
}
.place-rbtn label{
	float: left;
	margin-right: 5px;
}
