
<% @products.each do |product| %>
  <tr>
    <td class="text-center"><%= product.name %></td>
    <td class="text-center"><%= number_to_currency product.price %></td>
    <td class="text-center"><%= link_to "Edit", edit_product_path(product), remote: true, class: "btn btn-default" %></td>
    <td class="text-center"><%= link_to "Delete", delete_product_path(product), remote: true, class: "btn btn-danger" %></td>
  </tr>
<% end %>