<div class="container">
  <div class="well text-center">
    <h3>Listing products</h3>
    <%= link_to 'Show Product List', '#', class: 'btn btn-success list', id: "data-operation", attribute: "show" %>
  </div>
<div class="product-list">
<%= render 'shared/messages'%>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th class="text-center">Name</th>
      <th class="text-center">Price</th>
      <th class="text-center" colspan="2">Actions</th>
      
    </tr>
  </thead>

  <tbody class="product-index">
      <%= render "index" %>
    </tbody>
  </table>

<br>
</div>
</div>
<div class="well well-sm text-center">
<%= link_to 'Add New Product', new_product_path, remote: true, class: 'btn btn-success btn-block' %>
</div>

<div id="product-modal" class="modal fade"></div>